<div class="unit one-fifth">
    <aside>
        {% for section in site.data.docs_navigation %}
        <h4>{{ section.title }}</h4>
        <ul class="docsmenu">
            {% for item in section.docs %}
            {% assign p = site.documents | where: "url", item.link | first %}
            <li class="{% if p.url == '/docs/' %}
                {% if page.url == '/docs/' %}current{% endif %}
            {% else %}
                {% if page.url contains p.url %}current{% endif %}
            {% endif %}">
                <a href="{{ p.url | relative_url }}">
                {% if p.menu_name %}
                    {{ p.menu_name }}
                {% else %}
                    {{ p.title }}
                {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </aside>
</div>